<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8AB3B101DDFC9D500F013B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8AB3B291DDFC9DB00F013B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8AB3B341DDFC9DB00F013B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
